@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="quadrant">
                    <h2>Quadrant 1</h2>
                    <p>Urgent & Important</p>
                    <table class="task-table">
                        @foreach(Task t in ViewBag.Q1)
                        {
                            <tr>
                                <td>@t.Title</td>
                                <td>
                                    <a class="edit-btn" asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId">Edit</a>
                                </td>
                                <td>
                                    <a class="delete-btn" asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId">Delete</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="quadrant">
                    <h2>Quadrant 2</h2>
                    <p>Not Urgent & Important</p>
                    <table class="task-table">
                        @foreach (Task t in ViewBag.Q2)
                        {
                            <tr>
                                <td>@t.Title</td>
                                <td>
                                    <a class="edit-btn" asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId">Edit</a>
                                </td>
                                <td>
                                    <a class="delete-btn" asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId">Delete</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="quadrant">
                    <h2>Quadrant 3</h2>
                    <p>Urgent & Not Important</p>
                    <table class="task-table">
                        @foreach (Task t in ViewBag.Q3)
                        {
                            <tr>
                                <td>@t.Title</td>
                                <td>
                                    <a class="edit-btn" asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId">Edit</a>
                                </td>
                                <td>
                                    <a class="delete-btn" asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId">Delete</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="quadrant">
                    <h2>Quadrant 4</h2>
                    <p>Not Urgent & Not Important</p>
                    <table class="task-table">
                        @foreach (Task t in ViewBag.Q4)
                        {
                            <tr>
                                <td>@t.Title</td>
                                <td>
                                    <a class="edit-btn" asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId">Edit</a>
                                </td>
                                <td>
                                    <a class="delete-btn" asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId">Delete</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
